@model vtysproje.Models.Student

@{
    ViewData["Title"] = "Student Information";
}

<h2>@ViewData["Title"]</h2>

<div class="student-info">
    <p><strong>Full Name:</strong> @Model.FirstName</p>
    <p><strong>Full Name:</strong> @Model.LastName</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Last Name:</strong> @Model.LastName</p>
</div>
